* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 5rem;
}

.logo img {
    width: 10rem;
}

.search {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(139, 138, 138);
    border-radius: 5px;
}

.search input {
    /* flex: 2; */
    width: 100%;
    min-height: 50px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    background-color: rgb(20, 20, 20);
    border: none;
    /* border-right: none; */
    /* border-radius: 5px 0 0 5px; */
    padding: 0rem 3rem 0rem 1rem;
    outline: none;
}

.simage {
    display: flex;
    background-color: rgb(20, 20, 20);
    /* border: 2px solid rgb(139, 138, 138);
    border-radius: 0 5px 5px 0; */
    border-left: none;
}

.search img {
    height: 47px;
    padding: 0.5rem;
    background-color: rgb(20, 20, 20);
    cursor: pointer;
}

.searchImage:hover img {
    transform: scale(1.1);
}

.search button {
    padding: 1rem;
    border-radius: 0 5px 5px 0;
    background-color: #E50914;
    color: #fff;
    font-size: 20px;
    border: none;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.search button:hover {
    border-radius: 5px;
    transform: scale(1.1);
}

.hr hr {
    border: 0.04px solid rgb(139, 138, 138);
    margin: 0rem 4rem;
    margin-bottom: 2rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f0f0f0;
}

.movie {
    width: 310px;
    height: 460px;
    margin: 1.5rem;
    position: relative;
    border: none;
    border-radius: 12px;
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    /* box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1); */
    color: #fff;
}

.movie div:nth-of-type(1) {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    color: #fff;
}

.movie:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}

.movie div:nth-of-type(2) {
    width: 100%;
    height: 100%;
}

.movie div:nth-of-type(2) img {
    width: 100%;
    height: 100%;
}

.movie div:nth-of-type(3) {
    z-index: 2;
    background-color: rgba(31, 31, 31);
    padding: 16px 24px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.movie div:nth-of-type(3) span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #f0f0f0;
}

.movie div:nth-of-type(3) h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5px;
    color: #f0f0f0;
    letter-spacing: 1px;
}

.movie:hover div:nth-of-type(2) {
    height: 100%;
    opacity: 0.3;
}

.movie:hover div:nth-of-type(3) {
    background-color: transparent;
}

.movie:hover div:nth-of-type(1) {
    opacity: 1;
}

.hr1 hr {
    border: 3px solid rgb(117, 117, 117);
    margin: 3rem 0rem;
}

.footer {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.head {
    margin: 0rem 13rem;
}

.head p {
    font-weight: 100;
}

.p__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    flex-wrap: wrap;
}

.ps {
    display: block;
    margin: auto;
}

.ps p {
    font-weight: 100;
    margin: 1rem 0rem;
}

.ps p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0rem;
}

@media screen and (max-width: 550px) {
    .header {
        flex-direction: column;
        margin: 2rem 2rem;
    }
    .logo img {
        width: 7rem;
    }
    .search {
        margin: 2rem 0rem;
    }
    .hr hr {
        margin: 2rem;
        margin-top: -2rem;
    }
    .head {
        /* margin: 0rem 13rem; */
        margin: 1rem 6rem;
    }
    .p__container {
        flex-direction: column;
        margin: 0rem;
    }
    .ps {
        width: 10rem;
    }
}